	<table class="front" summary="For signed-in users">
		<tr>
			<td class="main">
				<div class="sidebar round">
					<%= render 'shared/user_links' %>
				</div>
				<h1>Edit user </h1>

				<%= form_for(@user) do |f| %>
					<%= render 'shared/error_messages', :object => f.object %>
					<div class="field">
						<%= f.label :name %><br />
						<%= f.text_field :name %>
					</div>
					<div class="field">
						<%= f.label :email %><br />
						<%= f.text_field :email %>
					</div>
					<div class="field">
						<%= f.label :password, "Password*" %><br />
						<%= f.password_field :password %>
					</div>
					<div class="field">
						<%= f.label :password_confirmation, "Password Confirm*" %><br />
						<%= f.password_field :password_confirmation %>
					</div>
					<div class="field">
						<%= f.label :country %><br />
						<%= f.select :country, Country.find(:all).map{ |c| [c.printable_name,c.iso3]} %>
					</div>
					<div class="field">
						<%= f.label :age %><br />
						<%= f.select :age, (1..99), :selected=>18 %>
					</div>
					<div class="field">
						<%= f.label :gender %><br />
						<%= f.radio_button :gender, "Male" %>Male
						<%= f.radio_button :gender, "Female"%>Female
					</div>
					<div class="actions">
						<%= f.submit "Update" %>
					</div>
				<% end %>

				<div>
					<%= gravatar_for @user %>
					<a href="http://gravatar.com/emails">change</a>
				</div>
			</td>
			
		</tr>
	</table>
	
