<h1>Sign up</h1>

<%= form_for(@user) do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<div class="field">
		<%= f.label :name, "Username" %><br />
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :email %><br />
		<%= f.text_field :email%>
	</div>
	<div class="field">
		<%= f.label :password %><br />
		<%= f.password_field :password %>
	</div>
	<div class="field">
		<%= f.label :password_confirmation, "Password Confirmation" %><br />
		<%= f.password_field :password_confirmation %>
	</div>
	<div class="field">
		<%= f.label :country %><br />
		<%= f.select :country, Country.find(:all).map{ |c| [c.printable_name,c.iso3]} %>
	</div>
	<div class="field">
		<%= f.label :age %><br />
		<%= f.select :age, (1..99), :selected=>18 %>
	</div>
	<div class="field">
		<%= f.label :gender %><br />
		<%= f.radio_button :gender, "Male" %>Male
		<%= f.radio_button :gender, "Female"%>Female
	</div>
	<div class="actions">
		<%= f.submit "Sign up" %>
	</div>
<% end %>