<div class="whitesidebar round">
	<% if signed_in? %>
		<div class="colorbar round">
			<%= render 'shared/user_links' %>
		</div>
	<% end %><br />
	<div style="padding-left: 1em">
		<strong>Name</strong> <%= @user.name %><br />
		<strong>URL</strong> <%= link_to user_path(@user), @user %><br />
		<strong>Stories</strong> <%= @user.stories.count %><br />
		<strong>Comments</strong> <%= @user.microposts.count %><br /><br />
	</div>
	
</div>
<div>
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
			<% unless @user.stories.empty? %>
				<table class="stories" style="width: 65.5%;">
					<%= render @user.stories %>
				</table>
				<%= will_paginate @stories%>
			<% end %>
			<% unless @user.microposts.empty? %>
				<strong><u class="stories">Comments</u></strong>
				<table class="microposts" style="width:65.5%; vertical-align:top" summary="User microposts">
					<%= render @user.microposts %>
				</table>
				<%= will_paginate @microposts %>
			<% end %>
		</div>
		
	</tr>
</table>